* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container{
  max-width: 1170px;
  width:100%;
  padding:0 15px;
  margin:0 auto;
}

header{
  width:100%;
  height:150px;
  background-color:rgba(34,49,52,0.6);
  padding-top:5px;
  color:white;
}
.header-center{
  text-align:center;
  cursor:pointer;
  display: block;
}
.menu{
  color:white;
  margin-right:65px;
  opacity:0.7;
  transition:all 0.1s;
  text-align:center;
  display: inline-block;

}
.menu:hover{
  opacity:1;
  color:red;
}

/*top-wrapper を書く*/
.top-wrapper{
  background-image:url(https://raw.githubusercontent.com/xiaolongbaoking/taiwanwan/master/images/top/background_image.jpg);
  text-align:center;
  background-size:cover;
  padding:100px 0 100px 0;
  color:white;

}
.top-wrapper h1{
  opacity:0.8;
  font-size:45px;
  letter-spacing:3px;
}
.top-wrapper h2{
  opacity:0.8;
  margin-top:20px;
}

.btn-wrapper{
  margin-top: 10px;
}
.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
  text-align:center;
}
.btn:hover{
  opacity:1;
}
.Facebook{
  background-color:#3b5998;

}
.twitter{
  background-color:#55acee;
}

/*コンテンツ部分の編集*/

.content-wrapper {
  padding:180 100px 0;
  height:1100px;
  background-color:#f7f7f7;
  text-align:center;
}

.heading {
  padding-top:80px;
  padding-bottom:50px;
  color:#5f5d60;
  text-align:center;
}

.content{
  float:left;
  width:50%;
  text-align:center;
  cursor:pointer;
  transition:all 0.5s;
}
.content:hover{
  background-color:rgba(0,255,0,0.1);
}
.content p{
  width: 60%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}
.content-icon{
  height:60%;
  width:60%;
}
.content h3{
  color:#55acee;
  opacity:0.8;
}
footer{
  padding:10px 0 5px 0;
  text-align:center;
}
